/* Notifications.css */

.notifications-page {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.notification {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.notification-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    font-size: 1.2rem;
    color: #333;
}

h5 {
    font-size: 0.9rem;
    color: #888;
}

p {
    font-size: 1rem;
    color: #555;
}

.back-to-dashboard {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.back-to-dashboard:hover {
    text-decoration: underline;
}
